@import "tailwindcss";

@theme {
  --color-gamer-dark: #121214;
  --color-gamer-card: #1a1a1e;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  user-select: none;
  overflow: hidden;
  background-color: var(--color-gamer-dark);
  color: #ffffff;
}